---
layout: page
title: "About"
description: "Hey,there,this is henuzfl."
header-img: "img/about-bg.jpg"
---

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<div class="container">
      <div id="markup">
        <article id="content" class="markdown-body">
          <div class="codehilite"><pre><span class="c1"># 一枚天天背着双肩包、带着黑框眼睛、穿着帆布鞋去挤公交的程序狗</span>


<span class="k">class</span> <span class="nc">Me</span><span class="p">:</span>
    <span class="n">name</span> <span class="o">=</span> <span class="s">&#39;henuzfl&#39;</span>
    <span class="n">age</span> <span class="o">=</span> <span class="s">&#39;27&#39;</span>
    <span class="n">zodiac</span> <span class="o">=</span> <span class="s">&#39;马&#39;</span>
    <span class="n">occupation</span> <span class="o">=</span> <span class="s">&#39;程序狗&#39;</span>
    <span class="n">tags</span> <span class="o">=</span> <span class="p">[</span><span class="s">&#39;python&#39;</span><span class="p">,</span> <span class="s">&#39;java&#39;</span><span class="p">,</span> <span class="s">&#39;机器学习&#39;</span><span class="p">,</span> <span class="s">&#39;阅读&#39;</span><span class="p">,</span> <span class="s">&#39;电影&#39;</span><span class="p">,</span> <span class="s">&#39;科技&#39;</span><span class="p">,</span> <span class="s">&#39;小米&#39;</span><span class="p">,</span>
            <span class="s">&#39;权利的游戏&#39;</span><span class="p">,</span> <span class="s">&#39;漫威&#39;</span><span class="p">,</span><span class="s">&#39;学习者&#39;</span><span class="p">]</span>

    <span class="k">def</span> <span class="nf">code</span><span class="p">(</span><span class="bp">self</span><span class="p">):</span>
        <span class="k">print</span><span class="p">(</span><span class="s">&#39;钟情于python，喜欢尝试各种好玩的类库&#39;</span><span class="p">)</span>
        <span class="k">print</span><span class="p">(</span><span class="s">&#39;工作主要使用java，主要集中在后端应用的开发，前端主要是js、vue&#39;</span><span class="p">)</span>
        <span class="k">print</span><span class="p">(</span><span class="s">&#39;数据库精通MongoDB、mysql，熟练使用redis&#39;</span><span class="p">)</span>
        <span class="k">print</span><span class="p">(</span><span class="s">&#39;其他玩过的杂七杂八的框架工具：netty，kafka，zookeeper，spring boot&#39;</span><span class="p">)</span>

    <span class="k">def</span> <span class="nf">learn</span><span class="p">(</span><span class="bp">self</span><span class="p">):</span>
        <span class="k">print</span><span class="p">(</span><span class="s">&#39;自学了机器学习相关算法&#39;</span><span class="p">)</span>
        <span class="k">print</span><span class="p">(</span><span class="s">&#39;目前有一定了解有：线性规划、决策树、K近邻、支持向量机、朴素贝叶斯、PCA、AdaBoost&#39;</span><span class="p">)</span>
        <span class="k">print</span><span class="p">(</span><span class="s">&#39;会使用python机器学习类库scikit-learn、Tensorflow做一些简单的工作&#39;</span><span class="p">)</span>
        <span class="k">print</span><span class="p">(</span><span class="s">&#39;终生学习者：经济、社会、人文、历史、心理、科学等广涉猎&#39;</span><span class="p">)</span>


    <span class="k">def</span> <span class="nf">work</span><span class="p">(</span><span class="bp">self</span><span class="p">):</span>
        <span class="k">print</span><span class="p">(</span><span class="s">&#39;目前就职于微智全景长沙分公司&#39;</span><span class="p">)</span>
        <span class="k">print</span><span class="p">(</span><span class="s">&#39;在求学生涯中在中科院遥感所实习&#39;</span><span class="p">)</span>
</pre></div>
        </article>
      </div>
    </div>


{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <!-- This id is used for indexing my loss comments forcedly -->
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
    <!-- U can just use this key generated to index comments at page about -->
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = '{{site.duoshuo_username}}';

    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
